<section class="adminSolicitudes" id="adminSolicitudes">
	
	<div class="row">
		<div ><h3 class="center">Administrar solicitudes de Credito</h3></div>
		
		<div class="center">    
       <table class="centered striped bordered">	
        <thead>
        <tr>
        	  <th data-field="imagen">Imagen</th>
        	  <th data-field="id">Nombre</th>
              <th data-field="IDmodelo">Cantidad</th>
              <th data-field="IDtipo">Prima</th>
              <th data-field="IDmarca">Plazo</th>
              <th data-field="IDprecio">Fecha</th>
              <th data-field="IDprecio">hora</th>
              <th data-field="IDprecio"></th>
              <th data-field="IDprecio"></th>
         </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn waves-effect waves-light" type="submit">Editar<i class="material-icons right">mode_edit</i></button></td>
            <td><button class="btn waves-effect waves-light" type="submit">eliminar<i class="material-icons right">delete</i></button></td>
          </tr>
        </tbody>
      </table>
</div>

	
</section>