<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Solicitudes</h1>
        <div class="row center">
          <h5 class="header col s12 light">solicitudes del sistema</h5>
        </div>
        <div class="row center">
          <a href="#/solicitud" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ir</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="solicitud.jpg" alt="Unsplashed background img 3"></div>
  </div>
  <div class="container">
    <div class="section">
    <div class="row">
    </div>
    </div>
  </div>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Administrar Solicitudes</h1>
        <div class="row center">
          <h5 class="header col s12 light">Maneja Facilmente las solicitudes del sistema de creditos</h5>
        </div>
        <div class="row center">
          <a href="#/adminsol" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ir</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="book.jpg" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container">
    <div class="section">
    <div class="row">
    </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Administrar Productos</h1>
        <div class="row center">
          <h5 class="header col s12 light">Agrega facilmente cualquier producto deseado</h5>
        </div>
        <div class="row center">
          <a href="#/adminproductos" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ir</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="product.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <script type="text/javascript">
  	 $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>

