<nav class="navigation">
  <div class="nav-wrapper indigo darken-4 nav-content">
    <a href="#/" class="brand-logo">RAC</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" ng-if="session">
      <li><a href="#/perfil">Perfil</a></li>
      <li><a href="#/productos">Productos</a></li>
      <li><a href="#/solicitudes">Solicitudes</a></li>
      <li><a href="#" ng-click="close()">Cerrar Sesión</a></li>
      <a class="btn-floating btn-large waves-effect waves-light light-green accent-4 btn-principal" href="#/nueva-solicitud/0"><i class="material-icons">note_add</i></a>
    </ul>
    <ul class="right hide-on-med-and-down" ng-if="!session">
      <li> <a href='#demoModal' modal>Inciar Sesión</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo" ng-if="session">
      <li><a href="#/nueva-solicitud/0">Nueva solicitud</a></li>
      <li><a href="#/productos">Productos</a></li>
      <li><a href="#/perfil">Perfil</a></li>
      <li><a href="#/solicitudes">Solicitudes</a></li>
      <li><a href="#" ng-click="close()">Cerrar Sesión</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo" ng-if="!session">
      <li> <a href='#demoModal' modal>Inciar Sesión</a></li>
    </ul>
  </div>
</nav>
<div id="demoModal" class="modal">
    <div class="modal-content">
        <h4>Iniciar Sesión</h4>
        <form ng-submit="login(user,pass)">
          <div class="input-field">
            <input type="text" ng-model="user">
            <label>Usuarios</label>
          </div>
          <div class="input-field">
            <input type="password" ng-model="pass">
            <label>Contraseña</label>
          </div>
          <div class="modal-footer">
              <input type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat" value="Iniciar">
          </div>
        </form>
    </div>
</div>
