<div class="main-img">
  <h3>Compra lo que deseas</h3>
  <h5>Tus créditos de forma fácil y sencilla</h5>
  <a href="#/solicitud-nueva" id="download-button" class="btn-large waves-effect waves-light blue darken-2">Inicia ya</a>
</div>
<section class="main-section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Agiliza tus solicitudes</h5>

            <p class="light">RAC System permite que el usuario pueda completar su solicitud de manera agíl y sencilla, eliminando los incomodos formularios y tediosos pasos.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Amigable con el usuario</h5>

            <p class="light">Tratamos de brindar una mejor experiancia al usuario al presentar de manera amigable y concreta los pasos que debe seguir para realizar el proceso de solicitud de crédito en base al producto que desea adquirir. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Personalizable</h5>

            <p class="light">Esta aplicación, guarda sus preferencias y datos generales para facilitar el llenado de las solicitudes con la información que proveé. Esto nos ayuda a brindar una mejor experiencia en el uso de RAC System.</p>
          </div>
        </div>
      </div>
    </section>
    <article id="encuentranos">
	    	<h3 class="center section-title">Encuentranos</h3>
	    	<div class="row">
	    		<div class="col s12">
		        	<div class="card blue-grey darken-1">
			           <iframe src="https://www.google.com/maps/d/embed?mid=zINt_1Z31sCE.kwWYeAqtbFz0" width="100%" height="400px"></iframe>
		        	</div>
        		</div>
          </div>
      </article>
