<section>
  <div class="row">
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/plancha.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Plancha modelo 3x<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Solicitar</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Plancha modelo 3x<i class="material-icons right">close</i></span>
          <p>Una plancha increíble. La reina de las planchas.</p>
          <p>Precio: $30.00</p>
          <p>Sucrusal: Las Cascadas</p>
        </div>
      </div>
    </div>
  </div>
</section>
