<main-header></main-header>
<section class="profile">
  <h4>Perfil de usuario</h4>
  <div class="row">
    <div class="col s12 m3">
      <figure>
        <img ng-src="{{foto}}" alt="Foto de perfil" width="300px" height="300px">
      </figure>
    </div>
    <div class="col s12 m9">
      <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate" ng-model="nombres">
          <label class="active" for="first_name">Nombres</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="last_name" type="text" class="validate" ng-model="apellidos">
          <label class="active" for="last_name">Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="email" type="email" class="validate" ng-model="email">
          <label class="active" for="email">Email</label>
        </div>
        <div class="input-field col s12 m6 radios">
          <input name="group1" type="radio" id="test1" ng-model="sexo" value="1"/>
          <label for="test1">Masculino</label>
          <input name="group1" type="radio" id="test2" ng-model="sexo" value="0"/>
          <label for="test2">Femenino</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="password" type="text" class="validate" ng-model="fecha">
          <label class="active" for="password">Fecha de nacimiento</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="password" type="text" class="validate" ng-model="trabajo">
          <label class="active" for="password">Lugar de trabajo</label>
        </div>
      </div>
    </form>

    </div>
    <div class="col s12" style="margin-top: 25px;">
      <div class="row">
        <div class="col s12 m6">
          <div class="row">
            <div class="col s12 m3">
              <select class="browser-default">
               <option value="" disabled selected>Estado civil</option>
               <option value="1" selected>Soltero/a</option>
               <option value="2">Casado/a</option>
               <option value="3">Viudo/a</option>
               <option value="4">Divorciado/a</option>
             </select>
            </div>
            <div class="input-field col s12 m9">
              <input placeholder="Placeholder" id="profesion" type="text" class="validate" ng-model="cargo">
              <label class="active" for="profesion">Cargo</label>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Placeholder" id="document" type="text" class="validate" ng-model="telefono">
              <label class="active" for="document">Teléfono</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input placeholder="Placeholder" id="tel" type="text" class="validate" ng-model="estudios">
          <label class="active" for="tel">Grado académico</label>
        </div>
        <div class="input-field col s12 m6">
          <input placeholder="Placeholder" id="direccion" type="text" class="validate" ng-model="nacionalidad">
          <label class="active" for="direccion">Nacionalidad</label>
        </div>
      </div>
          <div class="row">
            <div class="input-field col s12 ">
              <input placeholder="Placeholder" id="lugarprofesion" type="text" class="validate" ng-model="calificacion">
              <label class="active" for="lugarprofesion">Calificación</label>
            </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input placeholder="Ingresos" id="ireferencias" type="text" class="validate" ng-model="conyugue">
          <label class="active" for="referencias">Cónyugue</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn"><i class="material-icons left">done</i>Guardar</a>
    </div>
  </div>

</section>
<script src="js/slider.js"></script>
