<section class="profile">
  <h4>Perfil de usuario</h4>
  <div class="row">
    <div class="col s12 m3">
      <figure>
        <img src="img/perfil.jpg" alt="Foto de perfil" width="300px" height="300px">
      </figure>
    </div>
    <div class="col s12 m9">
      <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
    </div>
  </div>
</section>
