<section class="Solicitudes" id="Solicitudes">
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Solicitudes</h1>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="solicitud2.jpg" alt="Unsplashed background img 3"></div>
  </div>
  <div class="container">
    <div class="section">
    <div class="row">
    </div>
    </div>
  </div>
	
	<div class="row" style="position: relative;">
    <a class="btn-floating btn-large waves-effect waves-light red right" ng-click="openPdf(solicitudes, productoM, financiamiento, primaTotal, tienda)" style="position:absolute; top:0px; right: 10px;"><i class="material-icons">print</i></a>

    <div class="container-fluid">
    <div class="section">
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h5 class="center">Producto mas solcitado</h5>
            <h5 class="center brown-text"><i class="material-icons">language</i> {{productoM}}</h5>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h5 class="center">Max. financiado</h5>
            <h5 class="center brown-text"><i class="material-icons">group</i>{{financiamiento | currency}}</h5>   
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h5 class="center">Primas totales</h5>
            <h5 class="center brown-text"><i class="material-icons">subtitles</i>{{primaTotal | currency}}</h5>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h5 class="center">Mejor tienda</h5>
            <h5 class="center brown-text"><i class="material-icons">room</i>{{tienda}}</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
		
		<div class="center">    
       <table class="centered striped bordered">	
        <thead>
        <tr>
        	  <th data-field="Solicitud">ID</th>
        	  <th data-field="Tienda">Tienda</th>
              <th data-field="Fecha">Fecha</th>
              <th data-field="Hora">Hora</th>
              <th data-field="Empleado">Empleado</th>
              <th data-field="Cliente">Cliente</th>
              <th data-field="Cotizacion">Producto</th>
              <th data-field="Estado">Prima</th>
              <th data-field="Financiamiento">Financiamiento</th>
              <th data-field="Estado">Estado</th>
         </tr>
        </thead>

        <tbody>
          <tr ng-repeat="solicitud in solicitudes">
            <td>{{solicitud.id}}</td>
            <td>{{solicitud.tienda}}</td>
            <td>{{solicitud.fecha | date:'dd/MM/yyyy'}}</td>
            <td>{{solicitud.hora}}</td>
            <td>{{solicitud.empleado}}</td>
            <td>{{solicitud.cliente}}</td>
            <td>{{solicitud.producto}}</td>
            <td>{{solicitud.prima | currency}}</td>
            <td>{{solicitud.financiamiento | currency}}</td>
            <td>{{solicitud.estado}}</td>
          </tr>
        </tbody>
      </table>
</div>

	
</section>
<script type="text/javascript">
     $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>