<main-header></main-header>
<section class="solicitudes">
  <h4>Solicitudes</h4>
  <div class="container">
      <div class="item-solicitud" ng-repeat="solicitud in solicitudes">
      <div class="row">
        <div class="col s12 m3">
          <figure>
            <img ng-src="{{solicitud.foto}}" alt="foto" width="150px" height="150px">
          </figure>
        </div>
        <div class="col s12 m9">
          <div class="progress">
              <div class="determinate" style="width: 5%"></div>
          </div>
          <h6>Solicitud de crédito de {{solicitud.nombre}} {{solicitud.marca}} {{solicitud.modelo}}</h6>
          <p>Fecha de inicio: {{solicitud.fecha | date:"dd/MM/yyyy"}}</p>
          <p>Hora de inicio: {{solicitud.hora}}</p>
          <p>Estado: {{solicitud.estado}}</p>
        </div>
      </div>
      <!--<a class="waves-effect waves-light btn help-btn">Obtener ayuda</a>-->
    </div>
  </div>
</section>
