<section class="Solicitudes" id="Solicitudes">
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Solicitudes</h1>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="solicitud2.jpg" alt="Unsplashed background img 3"></div>
  </div>
  <div class="container">
    <div class="section">
    <div class="row">
    </div>
    </div>
  </div>
	
	<div class="row">
    <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">print</i></a>

    <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Producto mas Vendido</h5>
            <h2 class="center brown-text"><i class="material-icons">language</i></h2>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Mejor Cliente</h5>
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>   
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Ventas del mes</h5>
            <h2 class="center brown-text"><i class="material-icons">subtitles</i></h2>
          </div>
        </div>
      </div>

    </div>
  </div>
		
		<div class="center">    
       <table class="centered striped bordered">	
        <thead>
        <tr>
        	  <th data-field="idsolicitud">ID solicitud</th>
        	  <th data-field="idtienda">ID tienda</th>
              <th data-field="fecha">Fecha</th>
              <th data-field="hora">Hora</th>
              <th data-field="IDempleado">ID Empleado</th>
              <th data-field="IDcliente">ID Cliente</th>
              <th data-field="IDcotizacion">ID Cotización</th>
              <th data-field="Estadosolicitud">Estado Solicitud</th>
              
         </tr>
        </thead>

        <tbody>
          <tr>
            <td>5425</td>
            <td>34</td>
            <td>11/25/2016</td>
            <td>14:15:00</td>
            <td>356</td>
            <td>57</td>
            <td>147</td>
            <td>1</td>
            
          </tr>
        </tbody>
      </table>
</div>

	
</section>
<script type="text/javascript">
     $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>